.arrow-down {
  width: 60px;
  height: 40px;
  margin: 0 0 20px -1rem;
  position: absolute;
  left: 50%;
  bottom: 0px;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
  animation-play-state: paused;
}

.left {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  transform: rotate(240deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position: absolute;
  height: 10px;
  width: 40px;
  background: black;
  transform: rotate(-60deg);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  transform-origin: 5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@keyframes arrow {
  0% {
    bottom: 0px;
  }

  100% {
    bottom: 30px;
  }
}


@keyframes leftArrow {
  0% {}

  100% {
    transform: rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {}

  100% {
    transform: rotate(-45deg);
  }
}