#welcome-section {
    position: relative;
}

.welcome-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 50;
}

.animated-welcome {
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    background: linear-gradient(180deg, #EEFCF9, #06231D, #EEFCF9); /* Changed to vertical gradient */
    background-repeat: no-repeat;
    background-size: 100% 70%; /* Changed to vertical size */
    animation: animate 4.5s linear 1, fadeOut 0.5s linear 1 forwards;
    animation-delay: 0s, 4s;
    background-clip: text;
    color: rgba(0, 0, 0, 0);
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

@keyframes animate {
    0% {
        background-position: 0% -500%;
    }

    100% {
        background-position: 0% 500%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Start with opaque text */
    }
    100% {
        opacity: 0; /* End with transparent text */
    }
}
