
.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-500px) translateY(50px) rotate(-5deg);
}

.row {
    display: flex;
    margin-bottom: 10px;
    height: 200px;
}

.row img {
    margin-right: 10px;
    border-radius: 10px;
    width: auto;
}

.row:not( :nth-of-type(2)) {
    animation: scale 0.2s linear both;
    animation-timeline: scroll(root);
}

.row:is( :nth-of-type(1)) {
    --origin: 0%;
    --destination: -50%;
}

.row:is( :nth-of-type(3)) {
    --origin: 0%;
    --destination: 50%;
}

@keyframes scale {
    0% {
        transform: translateX(var(--origin, 0%));
    }

    100% {
        transform: translateX(var(--destination, -50%));
    }
}