*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --gap: 1rem;
    --card-width: clamp(100px, 20vw, 20vw);
    --card-aspect-ratio: 5 / 8;
    --card-height: calc(var(--card-width) * (8 / 5));
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, var(--card-width));
    gap: 1rem;
    transform: rotate(80deg);
}

.column {
    display: grid;
    gap: 1rem;
    align-content: start;
}

.column:not(:nth-of-type(2)) {
    animation: scale 1s linear both;
    animation-timeline: scroll(root);
}

.column:is(:nth-of-type(1)) {
    --origin: calc(var(--gap) * -1);
    --destination: calc(var(--card-height) * 1.5 + var(--gap));
}

.column:is(:nth-of-type(3)) {
    --destination: calc(var(--gap) * -2);
    --origin: calc(var(--card-height) * 1.6 + var(--gap));
}

@keyframes scale {
    0% {
        transform: translateY(var(--origin, 0%));
    }

    100% {
        transform: translateY(var(--destination, -50%));
    }
}

.column img {
    display: block; 
    max-width: auto; 
    max-height: 100%; 
    width: 100%;  
    background: hsl(0 0% 80%);
    border-radius: 10px;
}
